{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<h1 class="text-center text-secondary my-5">inscription</h1>
	<div class="container my-5 w-50 p-3">

		<div class="row">
			<div class="col md-6 mx-auto">
				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.username) }}
				{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button class="btn btn-lg btn-info" type="submit" class="btn">Register</button>
				{{ form_end(registrationForm) }}
			</div>

		</div>
	</div>

{% endblock %}
