{% extends "base.html.twig" %}

{% block title %}Notes
{% endblock %}


{% block contentPage %}
	<h3 class="text-success">liste des notes</h3>
	{% block page_contents %}

		{% for message in app.flashes("success") %}
			<div class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}
		<div class="container my-5">
			<div class="row ">
				<div class="col">
					<table class="table table-hover table-success table-striped" style="width:100% " id="dataNote">


						<thead>
							<tr <tr class="text-muted">>
								<th>Id</th>
								<th>Note</th>
								<th>jour</th>
								<th>observation</th>
								<th>nom d'etudiant</th>

							</tr>
						</thead>
						<tbody>
							{% for note in notes %}
								<td scope="row">{{note.id}}</td>

								<td>{{note.note}}</td>
								<td>{{note.jour|date("Y-m-d")}}</td>
								<td>{{note.observation}}</td>
								<td>{{note.etudiant}}</td>
							</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function () {
$('#dataNote').DataTable();
});
	</script>
{% endblock %}{% endblock %}
