{% extends "base.html.twig" %}
{% block title %}Liste des professeurs
{% endblock %}

{% block contentPage %}
	<h4 class=" text-center">Liste des professeurs</h4>
	{% block page_contents %}
		{% if is_granted('ROLE_USER') %}
			<div class="container my-5">
				<div class="row ">
					<div class="col ">

						<table id="dataProf" class="table table-hover  table-striped" style="width:100%">
							<thead>
								<tr class=" ">
									<th>Id</th>
									<th>nom & prenom</th>
									<th>CIN</th>
									<th>Telephone</th>
									<th>Email</th>
									{# <th>Ajouter</th> #}

									{# <th>liste des groupes</th> #}

								</tr>
							</thead>
							<tbody>
								{% for prof in professeurs %}
									<tr>
										<td scope="row">{{prof.id}}</td>

										<td>{{prof.nom}}</td>
										<td>{{prof.cin}}</td>
										<td>{{prof.telephone}}</td>
										<td>{{prof.email}}</td>
										{# <td>
																														
																																									<a href="{{path('add_professeur',{'prof' : prof.id})}}" class="btn btn-sm ">
																														
																																										<i class="fa fa-edit"></i>
																																									</a>
																																								</td> #}

									{# <td>{{prof.groupe}}</td> #}
										{# <td>
																																																																																																																																																																														<a href="#">
																																																																																																																																																																															<i class="fa fa-eye"></i>
																																																																																																																																																																														</a>
																																																																																																																																																																													</td> #}
										{# <td>
																																																																																																																																																																																																						<a href="{{path('groupeEncadrerPar',{'groupe' : groupe.id})}}" class="btn btn-sm ">
																																																																																																																																																																																												
																																																																																																																																																																																																							<i class="fa fa-eye"></i>
																																																																																																																																																																																																						</a>
																																																																																																																																																																																																					</td> #}
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		{% endif %}
		<script>
			$(document).ready(function () {
$('#dataProf').DataTable();
});
		</script>
	{% endblock %}
{% endblock %}
